<div class="container">
  <div class="row">
    <div class="all_area">
      <ul class="tab_area">
        <li id="tab1" class="select">フォロー中</li>
        <li id="tab2">フォロワー</li>
      </ul> 
      <div class="content_area" id="area1">
        <div class="table-responsive">
          <%= render partial: "followings", locals: { followings: @followings }%>
        </div>
      </div>
      <div class="content_area hide" id="area2">
        <div class="table-responsive">
          <%= render partial: "followers", locals: { followers: @followers }%>
        </div>
      </div>
    </div>
  </div>
</div>