<div class="container">
  <%= flash[:success] %>
  <div class="row">
    <div class="profile col-6">
      <li>
        <%= attachment_image_tag @user, :background_image, :fill, 570, 600,fallback: "no_image.jpg", size:'570x600' %>
        <p class="profile_image"><%= attachment_image_tag @user, :profile_image, :fill, 120, 120,fallback: "no_image.jpg", size:'120x120'%></p>
      </li>
    </div>
    <div class="col-6">
    </div>
  </div>
</div>