<div class="top top-page-top container-fluid">
  <div class="d-flex flex-column justify-content-around" style="height:600px;">
    <div class="top-text">
      <% if flash[:notice] %>
        <div class="alert alert-success login-alert mt-4">
          <%= flash[:notice] %>
        </div>
      <% end %>
      <h4 class="top-title"><strong>In tripshot</strong></h4>
      <p class="top-introduction">
         あなたの旅行をシェアしたり、皆の旅行を見ることができます。<br>
         また、チャットで交流することができます。新しい旅を見つけましょう！
      </p>
    </div>
    <div class="top-link">
      <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-success w-25" %>
    </div> 
  </div> 
</div>