<div>
  <ul>
    <% @rooms.each do |room| %>
      <li><%= link_to room.name, user_rooms_path(room_id: room.id), method: :post, data: {"turbolinks" => false} %></li>
    <% end %>
  </ul>
</div>
<div class = "new-book">
  <h2>Rooms</h2>
  <%= form_for(@room) do |f| %>

    <h4>Create room</h4>
    <%= f.text_field :name, class:"col-xs-12" %>



    <%= f.submit 'Create room', class:"col-xs-12" %>

<% end %>
</div>
