<div class="container">
  <div id="chatroom" data-room_id="<%= @room.id %>">
  <div id="user_id" data-user_id="<%= current_user.id %>">
  </div>
  <h1>Chat Room</h1>
  <form class="form-inline">
    <div class="form-group">
      <input type="text" class = "form-control" id="chat-input" />
    </div>
    <button id="button" class="btn btn-primary">送信</button>
  </form>

  <div id="messages">
    <ul class="list-group">
      <% @messages.each do |message| %>
        <%= render 'messages/message', message: message %>
      <% end %>
    </ul>
  </div>
</div>
