<div class="container">
  <div id="chatroom" data-room_id="<%= @room.id %>">
  <div id="user_id" data-user_id="<%= current_user.id %>">
  <div class="chat-room">
    <h3 class="room-name text_white"><%= @room.name %></h3>
    <form class="form-inline chat-form">
      <div class="form-group">
        <input type="text" class = "form-control" id="chat-input" />
        <script type="text/javascript">
          // 上記の入力欄にフォーカスを与える
          document.getElementById('chat-input').focus();
        </script>
      </div>
      <button id="button" class="btn btn-primary chat-btn">送信</button>
    </form>
    <div id="messages">
      <% @messages.each do |message| %>
        <div class="message-content">
          <%= render 'messages/message', message: message %>
        </div>
      <% end %>
    </div>
  </div>
</div>
