/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import "tagsinput";
 @import "font-awesome";


 body {
  display: flex;
  flex-direction: column;
  font-family: 'Helvetica Neue', 'Helvetica', 'Hiragino Kaku Gothic ProN', YuGothic, 'Yu Gothic Medium', Meiryo, sans-serif; 
}

 main {
  background-image: image-url('water.jpeg');
   /* 画像を常に天地左右の中央に配置 */
  background-position: center center;
  
  /* 画像をタイル状に繰り返し表示しない */
  background-repeat: no-repeat;
  
  /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
  background-attachment: fixed;
  
  /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
  background-size: cover;
  
  /* 背景画像が読み込まれる前に表示される背景のカラー */
  background-color: #464646;
  width: 100%;
  padding: 56px 0;
  min-height: 100vh;
 }
//  ヘッダー固定
.z-index_header {
  z-index: 9999;
  position: -webkit-sticky;
  position: fixed;
  top: 0;
  width: 100%;
}
 // フッター最下部固定

footer {
  z-index: 9999;
  position: fixed;
  margin-top: auto;
  width: 100%;
  bottom: 0;
}

// いいねの色、大きさ
.fav {
  color: red;
  font-size: 40px;
}

.heart-count {
  color: black;
}

// top背景画像
.top {
  background-image: image-url('tripshot_top.jpeg');
  /* 画像を常に天地左右の中央に配置 */
  background-position: center center;
  
  /* 画像をタイル状に繰り返し表示しない */
  background-repeat: no-repeat;
  
  /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
  background-attachment: fixed;
  
  /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
  background-size: cover;
  
  /* 背景画像が読み込まれる前に表示される背景のカラー */
  background-color: #464646;
  min-height: 100vh;
  width: 100%;
}

.top-page-top {
  min-height: calc(100vh - 112px);
}
// トップページ
.top-text {
  text-align: center; 
  padding-top: 80px;
  padding-bottom: 200px;
}
.top-link {
  text-align: center;
}
h4.top-title {
  font-size: 50px;
  font-family: Impact,Charcoal;
  background: image-url('wood.jpeg');
  // 背景が前景のテキストで切り取られる
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
p.top-introduction {
  font-size: x-large;
  font-family: Impact,Charcoal;
}
// マイページ背景画像とプロフィール画像
.profile li {
  position: relative;
  list-style: none;
}
.profile p {
  position: absolute;
  top: 15%;
  left: calc(50% - 60px);
}

.profile_image{
  position: relative;
}
.follow_button{
  position: absolute;
  top: 3%;
  left: 0;
}


.background_image { 
  max-width: 100%;
}
.profile_image img {
  border-radius: 50%;
}
// 退会画面
h1.red-border {
  padding-top: 40px;
}
.withdraw-text {
  padding-top: 60px;
}

// リンクのCSS
a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: none;
}

// チャットのレイアウト
.chat {
  padding: 0;
  margin: 0;
}