/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import "tagsinput";
 @import "font-awesome";


 body {
  display: flex;
  flex-direction: column;
  font-family: 'Helvetica Neue', 'Helvetica', 'Hiragino Kaku Gothic ProN', YuGothic, 'Yu Gothic Medium', Meiryo, sans-serif; 
}

 main {
  background-image: image-url('water.jpeg');
   /* 画像を常に天地左右の中央に配置 */
  background-position: center center;
  
  /* 画像をタイル状に繰り返し表示しない */
  background-repeat: no-repeat;
  
  /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
  background-attachment: fixed;
  
  /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
  background-size: cover;
  
  /* 背景画像が読み込まれる前に表示される背景のカラー */
  background-color: #464646;
  width: 100%;
  
  min-height: calc(100vh - 56px);
 }


 // フッター最下部固定

footer {
  z-index: 9999;
  position: fixed;
  margin-top: auto;
  width: 100%;
  bottom: 0;
}

// いいねの色、大きさ
.fav {
  color: red;
  font-size: 40px;
}

.heart-count {
  color: black;
}

// top背景画像
.top {
  background-image: image-url('tripshot_top.jpeg');
  /* 画像を常に天地左右の中央に配置 */
  background-position: center center;
  
  /* 画像をタイル状に繰り返し表示しない */
  background-repeat: no-repeat;
  
  /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
  background-attachment: fixed;
  
  /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
  background-size: cover;
  
  /* 背景画像が読み込まれる前に表示される背景のカラー */
  background-color: #464646;
  min-height: 100vh;
  width: 100%;
  text-align: center;
}

.top-page-top {
  min-height: calc(100vh - 112px);
}
// トップページ

h4.top-title {
  font-size: 50px;
  font-family: Impact,Charcoal;
  background: image-url('wood.jpeg');
  // 背景が前景のテキストで切り取られる
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
p.top-introduction {
  font-size: x-large;
  font-family: Impact,Charcoal;
}

@media screen and (max-width: 600px) {
  p.top-introduction {
    font-size: large;
    font-family: Impact,Charcoal;
  }
  
}

// user view関連のscss
.list{
  background-color: #E5FAF8;
  border-radius: 10px;
  margin-left: 50px;
  margin-bottom: 10px;
}

.list p{
  margin: auto 0;
  line-height:50px ;
  font-size: 18px;
}

.btn-success {
  height: 38px;
}


// マイページ背景画像とプロフィール画像(users#show)
.profile li {
  position: relative;
  list-style: none;
}
.profile p {
  position: absolute;
  top: 15%;
  left: calc(50% - 60px);
}

.profile_image{
  position: relative;
}

.follow_button{
  position: absolute;
  top: 3%;
  left: 35%;
}

.follow_link {
  position: absolute;
  top: 40%;
  left: 30%;
}

.fav_edit_link {
  position: absolute;
  top: 48%;
  left: 30%;
}

.introduction {
  position: absolute;
  top: 55%;
  left: 15%;
  width: 70%;
  height: auto;
  border-radius: 10px;
  background-color:#E5FAF8;
  word-break: break-all;
}

@media screen and (max-width: 600px) {
  .follow_button{
    position: absolute;
    top: 3%;
    left: 10%;
  }
  .follow_link {
    position: absolute;
    top: 40%;
    left: 19%;
  }
  .fav_edit_link {
    position: absolute;
    top: 48%;
    left: 19%;
  }
}


.background_image { 
  max-width: 100%;
}
.profile_image img {
  border-radius: 50%;
}
// 退会画面
h1.red-border {
  padding-top: 40px;
}
.withdraw-text {
  padding-top: 60px;
}

// リンクのCSS
a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: none;
}

// チャットのレイアウト
.chat {
  padding: 0;
  margin: 0;
}

// post view関連のscss
.post-image{
  position: relative;
  height:300px;
  max-width: 400px;
  margin-bottom: 10px;
}
// いいねの位置を画像の中に
.post-image p.like {
  position: absolute;
  bottom: 0px;
  right: 10px;
}

@media screen and (max-width: 600px) {
  .post-image{
    position: relative;
    width: 100%;
    margin-bottom: 30px;
  }
}




.tag {
  position: absolute;
  bottom: 0;
  left: 5%
}

.post-content {
  max-width: 400px;
}

.post-comments {
  min-width: 350px;
}

.list-content {
  width: 400px;
}

// post_showの投稿画像
.image img {
  width: 100%;
}

.profile-image img{
  position: absolute;
  top: 5%;
  left: 5%;
  border-radius: 50%;
}

@media screen and (max-width: 600px) {
  .post-image img {
    width: 100%;
  }
  .profile-image img{
    position: absolute;
    top: 5%;
    left: 5%;
    border-radius: 50%;
    width: 60px;
  }
}


// コメントのプロフィール画像
.profile-image_comment img { 
  border-radius: 50%;
}

.list_show {
  border-radius: 0.25rem;
  background-color: #E5FAF8;
  margin-bottom: 30px;
  max-width: 400px;
}
.list_show img {
  border-radius: 50%;
}



// list view関連のscss
// 旅行リスト作成ページのフォーム

.post-text-box{
  padding-top: 80px;
}

.list-post{
  margin: 20px 0;
}

.list-body {
  background-color: #E5FAF8;
  border-radius: 0.25rem;
  max-width: 400px;
}



// _messageデザイン
.message-content {
  padding: 0;
  max-width: 450px;
  margin: 0 auto;
  text-align: right;
  font-size: 14px;

}

.yourcomment {
  width: 100%;
  margin: 10px 0;
  overflow: hidden;
}

.yourcomment .profile-image_chat {
  float: left;
  margin-right: -50px;
  width: 40px;
}

.yourcomment .profile-image_chat img{
  width: 100%;
  height: auto;
  border-radius: 50%;
}
.yourcomment .chat-area {
  width: 100%;
  text-align: left;
}

.user-name {
  padding-left: 55px;
}

.speak {
  display: inline-block;
  position: relative; 
  margin: 0 0 0 50px;
  padding: 10px;
  max-width: 250px;
  border-radius: 12px;
  background: #edf1ee;
}

.speak:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 3px; 
  left: -19px;
  border: 8px solid transparent;
  border-right: 18px solid #edf1ee;
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
}
.speak p {
  margin: 0;
  padding: 0;
}

.mycomment {
  margin: 10px 0;
}
.mycomment p {
  display: inline-block;
  position: relative; 
  margin: 0 10px 0 0;
  padding: 8px;
  max-width: 250px;
  border-radius: 12px;
  background: #30e852;
  font-size: 15px;
}

.mycomment p:after {
  content: "";
  position: absolute;
  top: 3px; 
  right: -19px;
  border: 8px solid transparent;
  border-left: 18px solid #30e852;
  -webkit-transform: rotate(-35deg);
  transform: rotate(-35deg);
}

// chat view関連
.chat-form {
  position: fixed;
  bottom: 70px;
  right: 100px
}

#messages {
  margin-bottom: 120px;
}

.room-name {
  position: fixed;
  z-index: 1;
}

@media screen and (max-width: 600px) {
  .chat-btn {
    margin-bottom: 17px;
  }

  .chat-form {
    position: fixed;
    bottom: 44px;
  }
}
// relationship関連scss
.profile-image_follow img {
  border-radius: 50%;
}

.list-group-item img {
  border-radius: 50%;
}

// デフォルトは非表示 幅600pxより大きいとき
.phone_area {
  display:none;
}

// noneクラスをもつ要素は幅600px以下で消える
// appearで現れる
@media screen and (max-width: 600px){
  .none {display:none}
  .appear {display:block;}
  }