/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import "tagsinput";
 @import "font-awesome";


 body {
  display: flex;
  flex-direction: column;
  font-family: 'Helvetica Neue', 'Helvetica', 'Hiragino Kaku Gothic ProN', YuGothic, 'Yu Gothic Medium', Meiryo, sans-serif; 
}

 main {
  background-image: image-url('water.jpeg');
   /* 画像を常に天地左右の中央に配置 */
  background-position: center center;
  
  /* 画像をタイル状に繰り返し表示しない */
  background-repeat: no-repeat;
  
  /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
  background-attachment: fixed;
  
  /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
  background-size: cover;
  
  /* 背景画像が読み込まれる前に表示される背景のカラー */
  background-color: #464646;
  width: 100%;
  padding: 56px 0;
  min-height: 100vh;
 }
//  ヘッダー固定
.z-index_header {
  z-index: 9999;
  position: -webkit-sticky;
  position: fixed;
  top: 0;
  width: 100%;
}
 // フッター最下部固定

footer {
  z-index: 9999;
  position: fixed;
  margin-top: auto;
  width: 100%;
  bottom: 0;
}

// いいねの色、大きさ
.fav {
  color: red;
  font-size: 40px;
}

.heart-count {
  color: black;
}

// top背景画像
.top {
  background-image: image-url('tripshot_top.jpeg');
  /* 画像を常に天地左右の中央に配置 */
  background-position: center center;
  
  /* 画像をタイル状に繰り返し表示しない */
  background-repeat: no-repeat;
  
  /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
  background-attachment: fixed;
  
  /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
  background-size: cover;
  
  /* 背景画像が読み込まれる前に表示される背景のカラー */
  background-color: #464646;
  min-height: 100vh;
  width: 100%;
}

.top-page-top {
  min-height: calc(100vh - 112px);
}
// トップページ
.top-text {
  text-align: center; 
  padding-top: 80px;
  padding-bottom: 200px;
}
.top-link {
  text-align: center;
}
h4.top-title {
  font-size: 50px;
  font-family: Impact,Charcoal;
  background: image-url('wood.jpeg');
  // 背景が前景のテキストで切り取られる
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
p.top-introduction {
  font-size: x-large;
  font-family: Impact,Charcoal;
}

// user view関連のscss
.list{
  background-color: #E5FAF8;
  border-radius: 10px;
  margin-left: 50px;
  margin-bottom: 10px;
}

.list p{
  margin: auto 0;
  line-height:50px ;
  font-size: 18px;
}

.btn-success {
  height: 38px;
}


// マイページ背景画像とプロフィール画像(users#show)
.profile li {
  position: relative;
  list-style: none;
}
.profile p {
  position: absolute;
  top: 15%;
  left: calc(50% - 60px);
}

.profile_image{
  position: relative;
}

.follow_button{
  position: absolute;
  top: 3%;
  left: 25%;
}

.follow_link {
  position: absolute;
  top: 40%;
  left: 30%;
}

.fav_edit_link {
  position: absolute;
  top: 48%;
  left: 30%;
}

.introduction {
  position: absolute;
  top: 55%;
  left: 30%;
  width: 50%;
  height: auto;
  border-radius: 10px;
  background-color: white;
  word-break: break-all;
}


.background_image { 
  max-width: 100%;
}
.profile_image img {
  border-radius: 50%;
}
// 退会画面
h1.red-border {
  padding-top: 40px;
}
.withdraw-text {
  padding-top: 60px;
}

// リンクのCSS
a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: none;
}

// チャットのレイアウト
.chat {
  padding: 0;
  margin: 0;
}

// post view関連のscss
.post-image  {
  position: relative;
  height:300px;
}
// いいねの位置を画像の中に
.post-image p.like {
  position: absolute;
  bottom: 0px;
  right: 10px;
}

.profile-image img{
  position: absolute;
  top: 5%;
  left: 5%;
  border-radius: 50%;
}

.tag {
  position: absolute;
  bottom: 0;
  left: 5%
}

// コメントのプロフィール画像
.profile-image_comment img { 
  border-radius: 50%;
}

.list_show {
  border-radius: 0.25rem;
  background-color: #E5FAF8;
  margin-bottom: 30px;
}
.list_show img {
  border-radius: 50%;
}

// list view関連のscss
// 旅行リスト作成ページのフォーム

.post-text-box{
  padding-top: 80px;
}
.list-post{
  margin: 20px 0;
}
