// Place all the styles related to the relationships controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// tabのCSS
.tab_area {
  overflow: hidden;
  display: table;
  margin: 0;

}

.tab_area li {
  /*Tabの装飾*/
  width: 139px;
  height: 49px;
  text-align: center;
  cursor: pointer;
  vertical-align: middle;
  display: table-cell;
  color: black;
  border-bottom: 1px dotted #bbbbbb;
  // ゆっくりと色を変える
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

// マウスを乗せたときに背景の色を変える
.tab_area li:hover {
  background-color: rgb(15, 91, 206);
}

.all_area {
  padding: 10px;
  overflow: hidden;
}
.all_area div.content_area {
  padding: 10px 10px 10px 2px;
  
}

.tab_area li.select {
  background-image: none;
  color: #11e234;
  border-bottom: 2px solid #11e234;
}
  
.hide {
  display: none;
}