// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.list{
  background-color: white;
  border-radius: 10px;
  margin-left: 50px;
  margin-bottom: 10px;
}

.list p{
  margin: auto;
  line-height:50px ;
  font-size: 18px;
}